//Element
:root {
    --el-color-info: #17a2b8;
    --el-color-info-light-3: #75cad7;
    --el-color-info-light-5: #a4dde6;
    --el-color-info-light-7: #bde6ec;
    --el-color-info-light-8: #d3eff4;
    --el-color-info-light-9: #e7f7f9;
    --el-color-info-dark-2: #00788b;
    --el-color-error: #dc3545;
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-danger: #dc3545;
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-primary: #007bff;
    --el-color-primary-light-3: #7cb9fb;
    --el-color-primary-light-5: #a7d1fd;
    --el-color-primary-light-7: #c1dfff;
    --el-color-primary-light-8: #d0e6fd;
    --el-color-primary-light-9: #e1effd;
    --el-color-primary-dark-2: #0068d7;
    --el-color-warning: #ffc107;
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-success: #00a65a;
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
}
